@import "tailwindcss";


html {
  background-color: #000000;
  scrollbar-width: thin; 
  scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
}

body {
  background-color: #000000; 
  color: white;
  margin: 0;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden; 
  
  overflow-y: overlay;
}


::-webkit-scrollbar {
  width: 8px; 
}

::-webkit-scrollbar-track {
  background: transparent; 
  margin-block: 4px; 
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2); 
  border-radius: 100vh; 
  
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #00f3ff; 
  border: 0; 
  box-shadow: 0 0 15px #00f3ff; 
}